﻿@model MOTC.Areas.Admin.Models.MoviesCreateViewModel
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}

<h1>Add</h1>

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Add"
      method="post" class="mt-3">

    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"> </label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Movie Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Genre" class="col-sm-2 col-form-label"> </label>
        <div class="col-sm-10">
            <input asp-for="Genre" class="form-control" placeholder="Movie Genre">
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>

        <div class="form-group row">
            <div class="form-group">
                <label asp-for="Image" class="col-sm-2 col-form-label"> </label>
                <input asp-for="Image" class="form-control-file">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">+Add</button>
            </div>
        </div>

</form>
