﻿@model IEnumerable<MOTC.Core.Models.MoviesModel>
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
}

<h1>View</h1>
<h1>@ViewBag.Message</h1>

@if (Model != null)
{
    <div>
        @foreach (var item in Model)
        {
            @Html.Partial("_ImageGrid", item);
        }
    </div>
}
else
{
    <h3>Result not Found</h3>
}

