﻿@model MOTC.Areas.Admin.Models.MoviesEditViewModel
@{
    ViewData["Title"] = "View";
    Layout = "_Layout";
        var imgPath = "~/images/movies/" + (Model.ImagePath ?? "noImage.png");
}

<h1>Edit</h1>


<form enctype="multipart/form-data" asp-controller="Home" asp-action="Update"
      method="post" class="mt-3">
    <input hidden asp-for="Id" />
    <input hidden asp-for="ImagePath" />
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"> </label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Genre" class="col-sm-2 col-form-label"> </label>
        <div class="col-sm-10">
            <input asp-for="Genre" class="form-control" placeholder="Genre">
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="form-group">
            <label asp-for="Image" class="col-sm-2 col-form-label"> </label>
            <input asp-for="Image" class="form-control-file">
        </div>
    </div>
    <img class="img-thumbnail" src="@imgPath" asp-append-version="true" style=""/>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">+Update</button>
        </div>
    </div>

</form>

