﻿@model MOTC.Areas.Admin.Models.MoviesCreateViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

    
<h1>Edit</h1>

<form method="get" asp-controller="Home" asp-action="Display">
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input asp-for="Id" class="form-control" placeholder="Search Id">
            <button type="submit" class="btn btn-primary">Verify & Edit</button>
        </div>
    </div>
</form>
<br />
<form method="get" asp-controller="Home" asp-action="SearchByName">
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input asp-for="Name" class="form-control" placeholder="Search Movie Name">
            <button type="submit" class="btn btn-primary">Verify & Edit</button>
        </div>
    </div>
</form>