﻿@model IEnumerable<MOTC.Core.Models.MoviesModel>
@{

}

<h3 style="text-align:center">Category:@ViewData["Message"]</h3>
@if (Model != null)
{
    <div>
        @foreach (var item in Model)
        {
            @Html.Partial("_ImageGrid", item);
        }
    </div>
}
else
{
    <h3>Result not Found</h3>
}

