﻿@model IEnumerable<MOTC.Core.Models.MoviesModel>
@{
    var genreArr = new List<string>();

}
<h5 style="text-align:center">@ViewData["Message"]</h5>
@Html.Partial("_Slider")

<br />
<br />
<br />
<h3>All available movies</h3>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        @Html.Partial("_imageView", item);
        genreArr.Add(item.Genre);
    }
}
<br />
<br />
<br />
<div style="clear:both;">
    <h3>Browse movies by Categories</h3>
    @if (Model != null)
    {
        @foreach (var item in genreArr.Distinct().ToArray())
        {
            @Html.Partial("_categoryView", item);
        }
    }
</div>
