﻿@model MOTC.Core.Models.MoviesModel

@{
    var imgPath = "~/images/movies/" + (Model.ImagePath ?? "noImage.png");
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img" src="@imgPath" asp-append-version="true" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">  @Model.Name  </h5>
                <h6>Genre: @Model.Genre </h6>
                <h6> Id: @Model.Id </h6>
                <br />
                <br />
                <br />
                <span style="display: inline;">
                    <a href="@Url.Action("EditPage", "Home", new { id = Model.Id})">
                        <i class="btn btn-secondary">Edit</i>
                    </a>
                <button class="btn btn-danger"> 
                    @Html.ActionLink("Delete", "DeleteMovie", "Home",
                            new { id = Model.Id }, 
                            new {
                            @OnClick = "return confirm('Are you sure you want to delete this Movie?');" 
                        })
                </button>
                </span>
            </div>
        </div>
    </div>
</div>