﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AdminStyle.css" />
</head>
<body>
    <div class="sidebar">
        <a asp-area="" asp-controller="Home" asp-action="Index"><- back to public site</a>
        <br />
        <a asp-controller="Home" asp-action="Display" asp-route-id="">View</a>
        <br />
        <a asp-controller="Home" asp-action="Add">Add</a>
        <br />
        <a asp-controller="Home" asp-action="Edit">Edit</a>
        <br />
        <a asp-controller="Home" asp-action="Delete">Delete</a>
        <br />
    </div>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
