﻿
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



<div class="text-center">
    <h3 class="display-4">@ViewData["Message"]</h3>
    <br />
    <br />
    <form class="search" action="#" style="margin:auto; max-width:300px" method="get">
        <input type="text" name="searchkey">
        <button type="submit">
            <i class="glyphicon glyphicon-search"></i>S
        </button>
    </form>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" target="_blank">
                    <img class="img-thumbnail" src="~/images/img1.jpg" />
                    <div class="caption">
                        <p>Product one.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" target="_blank">
                    <img class="img-thumbnail" src="~/images/img2.jpg" />
                    <div class="caption">
                        <p>Product Two.</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail">
                <a href="#" target="_blank">
                    <img class="img-thumbnail" src="~/images/img3.jpg" />
                    <div class="caption">
                        <p>Product Three.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
