﻿@model MOTC.Core.Models.MoviesModel
@{
    ViewData["Title"] = "MovieDetails";
    Layout = "_Layout";
    var imgPath = "~/images/movies/" + (Model.ImagePath ?? "noImage.png");
}

<h3>MovieDetails</h3>

<div>
    <img class="img-thumbnail" style="display:block;margin:auto auto;" src="@imgPath" alt="Card image" asp-append-version=true class="center" width="300" height="300">
    <h3 style="text-align:center;">Movie Name: @Model.Name</h3>
    <h3 style="text-align:center;">Genre: @Model.Genre</h3>
    </div>   
      
