﻿.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: darkslategrey;
    position: fixed;
    height: 100%;
    overflow: auto;
}

    .sidebar a {
        display: block;
        color: white;
        padding: 16px;
        text-decoration: none;
    }


        .sidebar a:hover {
            background-color: dodgerblue;
            color: white;
        }

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

        .sidebar a {
            float: left;
        }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}



div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

