﻿@model string

<div class="card mt-4" style="width: 18rem;float:left;text-align:center;margin:10px;">
    <div class="card-body">
            <h3 class="card-title">
                            @Html.ActionLink(Model, "Category","Home", new { genre = Model })
                </h3>
    </div>
</div>