﻿@model MOTC.Core.Models.MoviesModel

@{
    var imgPath = "~/images/movies/" + (Model.ImagePath ?? "noImage.png");
}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <a asp-controller="Details" asp-action="MovieDetails" asp-route-id="@Model.Id" }>
                <img class="card-img" src="@imgPath" asp-append-version="true" />
                </a>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">  @Model.Name  </h5>
                <h6>Genre: @Model.Genre </h6>
                <br />
                <br />
                <br />
                <a href="#">
                    <i class="btn btn-warning">Add to Cart</i>
                </a>
            </div>
        </div>
    </div>
</div>