﻿@model MOTC.Core.Models.MoviesModel

@{
    var imgPath = "~/images/movies/" + (Model.ImagePath ?? "noImage.png");
}
    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 260px;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: 250px;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }
    </style>
<div class="gallery">
    <a asp-controller="Details" asp-action="MovieDetails" asp-route-id = "@Model.Id" }>
        <img src="@imgPath" alt="Cinque Terre" width="800" height="600" class="card-img-top" alt="..." asp-append-version="true">
        </a>
        <div class="desc">
            <h5 class="card-title">  @Model.Name  </h5>
            <p class="card-text">  Genre: @Model.Genre </p>
            <a href="#">
                <i class="btn btn-warning">Add to Cart</i>
            </a>
        </div>
</div>
