﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CHECKOUT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
    body {
        background-color: aliceblue;
    }
</style>
<body>
    <script type="text/javascript">

        function myvalidate() {
            if (document.myform.fname.value.match("[0-9]+")) {
                fname.style.border = "1px solid red";
            }
            if (document.myform.cvv.value.match("^[A-Za-z]+$") || document.myform.cvv.value.length > 3) {
                cvv.style.border = "1px solid red";
            }
            if (document.myform.ccnum.value.match("^[A-Za-z]+$") || document.myform.ccnum.value.length > 12) {
                ccnum.style.border = "1px solid red";
            }
        }
    </script>
    <div class="container">
        <div class="col-md-8">
            <h1>CHECKOUT</h1>
            <br />
            <h3>CUSTOMER DETAILS </h3>
            <br />
            <form name="myform" method="post" onclick="return myvalidate()" action="CheckoutVerify">
                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label for="fname">First Name*</label>
                        <input type="text" class="form-control" id="fname" name="firstname" title="Your name" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lastname" title="Your last name">
                    </div>
                </div>
                <br />
                <div class="mb-3">
                    <label for="email">Email* </label>
                    <input type="email" class="form-control" id="email" name="Email" title="Proper email id" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="address">Address* </label>
                    <textarea rows="4" cols="50" class="form-control" id="address" name="address" title="address to be delivered to " required>
                                </textarea>
                </div>
                <br>
                <div class="mb-3">
                    <label>Country*</label>
                    <input type="text" id="country" class="form-control" placeholder="Country" required>
                </div>
                <div class="mb-3">
                    <label>City*</label>
                    <input type="text" id="city" class="form-control" placeholder="City" required>
                </div>
                <div class="mb-3">
                    <label>Pincode*</label>
                    <input type="text" id="pincode" class="form-control" placeholder="Pincode" required>
                </div>
                <br>
                <br>
                <hr>
                <h3>PAYMENT DETAILS</h3>
                <br>
                <label for="fname">Accepted Cards</label>
                <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                </div>
                <div class="mb-3">
                    <label for="cname">Name on Card</label>
                    <input type="text" class="form-control" id="cname" name="cardname" title="As on the card" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="ccnum">Card number</label>
                    <input type="text" id="ccnum" class="form-control" name="cardnumber" placeholder="1111-2222-3333-4444" required>
                </div>
                <br>
                <div class="mb-3">
                    <label for="Dexp">Date of Exp</label>
                    <input type="text" id="Dexp" class="form-control" name="Dexp" placeholder="01/01/2020" required>
                </div>
                <div class="mb-3">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="123" required>
                </div>
                <br>
                <br>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Remember Card Details</label>
                </div>
                <input type="submit" class="btn btn-success" value="Continue">

            </form>
        </div>
    </div>
</body>
</html>
