﻿    <link href="~/css/LoginStyle.css" , rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h2> Login Form</h2>

    <form action="Index" method="post">
        <div class="imgcontainer">
            <img src="~/images/Avatar.png">
        </div>

        <div class="container">
            <label for="uname"> <b> Username</b> </label>
            <input type="text" placeholder="Enter Username" name="Name" required>
            <br />
            <label for="psw"> <b> Password</b> </label>
            <input type="password" placeholder="Enter Password" name="Password" required>
            <br />
            <button type="submit" style="width:auto"> Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn"style="width:auto"> Cancel</button>
            <span class="psw"> Forgot <a href="#"> password?</a> </span>
        </div>
    </form>
